html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width")
    title Page title
    meta(name="description" content="")
    meta(name="keywords" content="")
    link(rel="icon" href="" type="image/x-icon")
    link(rel="apple-touch-icon" href="" type="image/png")
    link(rel="stylesheet" href='css/style.min.css')
  body
    include html/header
    main.page
      h1 Hello! Start new project: create pages and blocks structure on folders src/html, src/scss, src/js.
      //- img(src='@img/stars.png') - alias for image path
    script(src='js/app.min.js')