html
  head
    link(rel="stylesheet" href='css/style.min.css')
  body
    include html/header
    main.page
      h1 Hello! Go Go Go!
      //- img(src='@img/stars.png')
    script(src='js/app.min.js')